<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign Up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Sign Up</h1>
        {% if form.errors %}
            <div class="error">
                <p>Please correct the errors below:</p>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="form-container">
            <h1>Sign Up</h1>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
        <div>
            <h1>Return to <a href="{% url 'index' %}">Home</a></h1>
        </div>

        <script src="" async defer></script>
    </body>
</html>